body {
    background-color: #f5f5f5;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#main-content {
    max-width: 1000px;
    min-width: 500px;
    background-color: #fff;
    border: 1px solid grey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.scroller {
  height:220px;
  width:460px;
  overflow-y: scroll;
  scrollbar-color: orange grey;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid grey;
}


.match {
  height:160px;
  width:480px;
  text-align:center
}


.match-images {
  height:150px;
  width:150px;
  border: 1px solid grey;
}

.bloc {
	
	background-color: #fff;
 	border: 1px solid white;
 	border-radius: 5px;
}

.info {
	background-color: #f5f5f5;
 	border: 0px solid white;
 	border-radius: 5px;
 	
 	font-style: italic;
}

.info:hover {
  background-color: #ccffdd;
  color:blue;
}
